<p>
    <img src="http://localhost:8080/api/image/{{article.thumbnailUrl}}?width=720">
</p>
<h1>{{article.name}}</h1>
<div *ngFor="let articleDescription of descriptionItems">
  <div class="row">
    <div class="col-sm-10">
      <h3 *ngIf="articleDescription.type == 'title'">
        {{articleDescription.content}}
      </h3>
      <p *ngIf="articleDescription.type == 'paragraph'">
        {{articleDescription.content}}
      </p>
      <div class="row" *ngIf="articleDescription.type == 'album'">
        <div class="col-md-3" *ngFor="let media of albums[articleDescription.albumId]">
          <div class="img-thumbnail">
            <img src="http://localhost:8080/api/image{{media.url}}?width=250&height=250" alt="Lights"
              style="width:100%">
          </div>
        </div>
      </div>
      <p *ngIf="articleDescription.type == 'photo'" style="text-align: center;">
        <img src="http://localhost:8080/api/image{{articleDescription.url}}?width=500&height=500"
          class="rounded img-thumbnail cursor-pointer overlay"/>
      </p>
    </div>
  </div>
</div>